[submodule "Vendor/LangGraph-Swift"]
	path = Vendor/LangGraph-Swift
	url = https://github.com/bsorrentino/LangGraph-Swift.git
[submodule "Vendor/swift-markdown"]
	path = Vendor/swift-markdown
	url = https://github.com/swiftlang/swift-markdown.git
